@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.sombra {
    box-shadow: 0px 0px 15px #96a1ffe0;
}

.grab {
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}


.cursor-pencil {
    cursor: url("./assets/Pencil.svg"), auto !important
}

.cursor-erased {
    cursor: url("./assets/Erased.svg"), auto !important;
}


hr {
    margin: 4px 0 !important;
}

.fuente-especial {
    font-family: "Gloria Hallelujah", cursive;
}